@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

/* * {
    border: 1px solid white;
} */

body {
    background-color: black;
    color: white;
    font-family: 'Jersey 25';
}

a {
    color: rgb(255, 206, 206);
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.4s;
    margin: 2vh;
}

a:hover {
    cursor: grab;
    transform: scale(1.1);
    transition: transform 0.2s;
}

a:active {
    transform: scale(1);
    transition: transform 0.1s;    
}

.flContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    height: 97vh;
    width: 97vw;
}

.flBox {
    background-color: rgb(57, 45, 50);
    margin: 0.5vh 0.5vw;
    padding: 0.5vh 0.5vw;
    border-radius: 5px;
}

#headerLinks {
    display: flex;
    flex-flow: column;
    justify-content: safe;
    align-items: start;
    text-align: left;
    width: 12vw;
    font-size: 2vw;
    text-transform: lowercase;
}

#content {
    width: 100%;
    font-size: 2em;
    padding: 2vh 2vw 2vh 2vw;
}

#regDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

#submitBox {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#submitBox div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0.5vw;
    align-self: start;
}

#counterInputs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 12vw;
    > span {
        font-size: 0.8em;
    }    
}

#counterInputs input {
    color: white;
    font-size: 0.7em;
    appearance: none;
    background-color: black;
    width: 4vw;
    outline: 0;
    border: 0;
    margin: 0 0 0 1vw;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 4vw;
    font-size: 0.5em;
    color:rgb(255, 206, 206);
    background-color:rgb(80, 65, 65);
    margin: 0.5vh;
    border: 0;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

#pat {
    display: flex;
    justify-content: center;
    background: white;
    color: black;
    height: 95vh;
}
#ascii {
    font-size: 0.5%;
}